[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biblioverlap"]
	path = biblioverlap
	url = https://github.com/gavieira/biblioverlap
